.preferences {
  padding-bottom: 0;
}

.preferences__list {
  justify-content: center;
  row-gap: var(--mrgn-main);
  column-gap: var(--indent);

  @media screen and (min-width: 768px) {
    --items: 2;
  }

  @media screen and (min-width: 1200px) {
    --items: 4;
    flex-wrap: nowrap;
  }
}

.preferences__item {
  width: calc(100vw - var(--indent));

  @media screen and (min-width: 768px) {
    width: calc(100vw / var(--items) - var(--indent) * var(--items));
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.preferences__icon-box {
  display: flex;
  height: 120px;
  background-color: var(--bg-cl-sec);
  margin-bottom: var(--mrgn-sec);
  justify-content: center;
  align-items: center;
}

.preferences__icon {
  display: block;
  width: 70px;
  height: 70px;
}

.preferences__info {
  color: var(--ft-cl-sec);
  font-size: var(--ft-sz-base);
  line-height: 1.71;
  letter-spacing: var(--lttr-spc-base);
}
