.team {
  background-color: var(--bg-cl-sec);
}

.team__list {
  justify-content: center;

  @media screen and (min-width: 768px) {
    --items: 2;
  }

  @media screen and (min-width: 1200px) {
    --items: 4;
    flex-wrap: nowrap;
  }
}
