.filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--mrgn-main);
  column-gap: 8px;
  row-gap: 15px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    gap: 8px;
  }
}
